#add here the library you need, one per line
opencv-contrib-python-headless
numpy
matplotlib
filterpy
scikit-image
shapely
PyQt6
tdmclient # also require to install ThymioSuite https://www.thymio.org/download-thymio-suite-redirect/